.general-stylaes {
    background-color: black;
    color: white;
    
}

.navbar{
    position: fixed !important;
    top: 0;
    width: 100%;
  }

  .zindex {
    z-index: 1;
  }

  .cono {
    padding: 9px;
    font-size: 17px;
  }

  .usu {
    float: right !important;
    display: block !important;
    position: absolute;
    right: 0px !important;
  }

  .usu1 {
    border-left: 1px solid white;
    font-size: 17px;
  }

  