button {
    margin: 10px;
}

mat-form-field {
    width: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    /* margin: 0px 5px; */
}

.error {
    margin-top: -10px;
    color: red;
}

.container {
    display: flex;
    justify-content: space-between;
}

