<div class="contanier1">
    <div><h1>MTA store</h1><br></div>
    
</div>
<div class="centrar2">
    <h3>
        Grupo Lider en su sector, compañía fundada en 2020. Lider en la prestación ropa y comlplementos. <br>
        Contamos con un equipo, técnico y humano, profesional y especializado en la creación y crecimiento del talento <br>
        en la empresa y en las administraciones, aportando soluciones específicas y adaptadas a las necesidades de nuestros
        clientes.
    </h3>
</div>
<div class="contanier">
    <div class="enLinea opaco">
        <img src='{{img2}}' alt="">
    </div>
</div>

<div class="centrar">
    <div class="enLinea2">
        <video src="assets/conocenos/1.mp4" width="400" controls muted loop></video>
    </div>
    <div class="enLinea2">
        <video src="assets/conocenos/2.mp4" width="400" controls muted loop></video>
    </div>
    <div class="enLinea2">
        <video src="assets/conocenos/3.mp4" width="400" controls muted loop></video>
    </div>
</div>
<div class="direc">
    Nos puede encontrar en esta dirección.<br>
    Plaza Santa Ana s/n 02400 Hellín (Albaccete)<br>
    Teléfono 967 30 99 999 <br>
    Móvil 665 875 9877 <br>
    <a href="mailto:marianoandu@gmail.com">e-mail: tienda&#64;tienda.es</a>
</div>
<div class="mapa">
    
    <iframe class="ifra" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1502.0667017969242!2d-1.7003184724195233!3d38.51019738056786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd642fa1435e82e3%3A0xd2b4b6fe890e068!2sPl.%20Sta.%20Ana%2C%2002400%20Hell%C3%ADn%2C%20Albacete!5e1!3m2!1ses!2ses!4v1710842459159!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
